/* Created by Tivotal */

/* google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  width: 300px;
  position: relative;
}

.wrapper .menu-btn {
  position: absolute;
  left: 20px;
  top: 10px;
  height: 40px;
  width: 40px;
  background: #4a4a4a;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  z-index: 999;
}

.wrapper #btn:checked ~ .menu-btn {
  left: 247px;
}

.wrapper .menu-btn i {
  font-size: 23px;
  position: absolute;
  transition: 0.3s ease;
}

.wrapper .menu-btn i.fa-times {
  opacity: 0;
}

.wrapper #btn:checked ~ .menu-btn i.fa-times {
  opacity: 1;
  transform: rotate(-180deg);
}

.wrapper #btn:checked ~ .menu-btn i.fa-bars {
  opacity: 0;
  transform: rotate(180deg);
}

.wrapper .sidebar {
  position: fixed;
  top: 0;
  left: -270px;
  height: 100%;
  width: 270px;
  transition: all 0.3s linear;
}

.wrapper #btn:checked ~ .sidebar {
  left: 0;
}

.wrapper .sidebar .title {
  line-height: 65px;
  text-align: center;
  background: #333;
  color: #f2f2f2;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 1px solid #222;
}

.wrapper .sidebar .list-items {
  position: relative;
  background: #404040;
  height: 100%;
  width: 100%;
  list-style: none;
}

.wrapper .sidebar .list-items li {
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

.wrapper .sidebar .list-items li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0 10px 3px #222;
}

.wrapper .sidebar .list-items li:first-child {
  border-top: none;
}

.wrapper .sidebar .list-items li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}

.wrapper .sidebar .list-items li a i {
  margin-right: 20px;
}

.wrapper .sidebar .list-items .icons {
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .sidebar .list-items .icons a {
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}

.wrapper .sidebar .list-items .icons a:hover {
  background: #404040;
}

.wrapper .sidebar .list-items .icons a:first-child {
  margin-left: 0px;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  width: 100%;
  text-align: center;
}

.content .header {
  font-size: 45px;
  font-weight: 500;
}

.content p {
  font-size: 30px;
  font-weight: 500;
}
